<div class="container">
  <div class="page-content">

    <mat-toolbar class="nav-bar">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Cities Manager</span>
      <div class="loginIcon">
        <button mat-icon-button aria-label="Login">
          <mat-icon>account_circle</mat-icon>
        </button>    
      </div>  
    </mat-toolbar>
    
    <div class="navbar mb">
      <ul>
        <li>
          <a [routerLink]="[ '/cities']" [routerLinkActive]="[ 'nav-active']">Cities</a>
        </li>
      </ul>
    </div>

    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
